.container-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 88px;
  margin-bottom: 68px;

  &.main {
    text-decoration: none;
    display: flex;
    padding: 12px 32px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--primary-palette-brand-2, #efa693);
    opacity: 0.9;
    background: var(--primary-palette-brand-2, #efa693);

    &.main:hover {
      opacity: 1;
      transform: translateY(-4px) scaleX(1.05) scaleY(1.05);
      transition: all 0.2s ease-in-out;
    }

    h1 {
      color: var(--White, #fff);
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 170%; /* 23.8px */
      text-transform: uppercase;
    }

    @media screen and (min-width: 360px) and (max-width: 767px) {
      &.main {
        margin-top: -30px;
        display: flex;
        padding: 12px 32px;
        align-items: center;
        gap: 8px;
        border-radius: 100px;
        border: 1px solid var(--primary-palette-brand-2, #efa693);
        opacity: 0.9;
        background: var(--primary-palette-brand-2, #efa693);
        width: 237px;
        height: 30px;

        h1 {
          color: var(--White, #fff);
          text-align: center;

          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 170%; /* 23.8px */
          text-transform: uppercase;
        }
      }
    }
  }

  button {
    width: 100%;
    height: 48px;
    background: var(--color-button);
    border-radius: 8px;
    border: none;
    color: var(--color-text-button);
    text-align: center;
    font-family: Neogrotesk Ess;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%; /* 23.8px */
    text-transform: uppercase;
  }
}
