.bg-aqua {
  background-image: url("../../assets/Union.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 616px;
  @media screen and (min-width: 360px) and (max-width: 767px) {
    background-image: url("../../assets/Union-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 50px 0px;
  .text {
    font-family: Filson Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 350;
    line-height: 180%; /* 27px */
    text-align: center;
    color: var(--color-title);
    margin-bottom: 20px;
  }

  h1 {
    font-family: Filson Pro;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%; /* 27px */
    text-align: center;
    color: var(--color-title);
    margin-bottom: 20px;
  }
}

.title-new-letter {
  width: 757px;
  height: 88px;
  margin-top: 186px;
  h1 {
    color: var(--color-title);
    text-align: center;

    /* Desktop/H2-Desktop */
    font-family: Abhaya Libre;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 61.6px */
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    width: 328px;
    height: 112px;
    margin-top: 75px;

    h1 {
      width: 328px;
      height: 112px;

      color: var(--color-title);
      text-align: center;

      /* Mobile/H2-Mobile */
      font-family: Abhaya Libre;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 128%; /* 35.84px */
    }
  }
}

.subtitle-new-letter {
  width: 435px;
  margin-top: 62px;
  h1 {
    color: var(--color-paragraph);
    text-align: center;
    font-family: Filson Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 350;
    line-height: 180%; /* 27px */
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    width: 235px;
    margin-top: 62px;
    h1 {
      color: var(--Gray---Paragraph, #939393);
      text-align: center;
      font-family: Filson Pro;
      font-size: 15px;
      font-style: normal;
      font-weight: 350;
      line-height: 180%; /* 27px */
    }
  }
}
.container-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 28px;

  input {
    width: 360px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid var(--primary-palette-brand-2, #efa693);
    background: var(--White, #fff);
  }

  input::placeholder {
    padding: 24px;
    width: 94px;
    color: var(--Gray---Paragraph, #939393);
    font-family: Filson Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%; /* 27px */
  }

  input[type="text"] {
    margin-right: 10px;
  }
  button {
    display: flex;
    padding: 12px 40px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--color-text-button);
    opacity: 0.9;
    background: var(--primary-palette-brand-2, #efa693);
    color: var(--White, #fff);
    text-align: center;
    font-family: Neogrotesk Ess;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%; /* 23.8px */
    text-transform: uppercase;
    @media screen and (min-width: 360px) and (max-width: 767px) {
      width: 199px;
      height: 48px;
      display: flex;
      padding: 12px 40px;
      text-align: center;
      font-family: Neogrotesk Ess;
      font-size: 14px;
      font-style: normal;
      justify-content: center;
    }
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 28px;
  }
}

.img-new-letter {
  position: absolute;
  margin-left: 136px;
  margin-top: 220px;

  @media screen and (min-width: 360px) and (max-width: 767px) {
    position: absolute;
    margin-left: 22px;
    margin-top: 71px;
  }
}

.img-new-letter2 {
  position: absolute;
  margin-left: 282px;
  margin-top: 257px;
  @media screen and (min-width: 360px) and (max-width: 767px) {
    position: absolute;
    margin-left: 153px;
    margin-top: 93px;
    width: 40px;
    height: 40px;
  }
}
.img-new-letter3 {
  position: absolute;
  margin-left: 73px;
  margin-top: 350px;
  @media screen and (min-width: 360px) and (max-width: 767px) {
    position: absolute;
    margin-left: -23px;
    margin-top: 164px;
  }
}
.img-new-letter4 {
  position: absolute;
  left: 1262px;
  top: 1405px;
  @media screen and (min-width: 360px) and (max-width: 767px) {
    left: 279px;
    width: 72px;
    height: 83px;
    top: 1080px;
  }
}

.img-new-letter5 {
  position: absolute;
  left: 1194px;
  margin-top: 395px;
  @media screen and (min-width: 360px) and (max-width: 767px) {
    top: 811px;
    left: 251px;
    width: 35px;
    height: 35px;
  }
}
