.product-slider-container {
  max-width: 1442px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.7s ease;

  @media (max-width: 1442px) {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 0px;
  }

  @media (min-width: 1443px) {
    width: 100%;
    height: 100%;
    margin-left: calc(50% - 721px);
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 0px;
  }
}

.product-slider {
  display: flex;
  transition: transform 0.3s;
  flex-wrap: no-wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
  margin: 5px;
  width: 320px;
  height: 550px;

  img {
    width: 100%;
    height: 247px;
    gap: 5px;
  }

  img:not([height="398"]) {
    height: auto;
  }

  h3 {
    margin-top: 3px;
    color: var(--color-title);
    font-family: Filson Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 132%; /* 23.76px */
    width: 100%;
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 247px;
    height: 386px;
    margin: 4px;
    margin-left: 30px;

    h3 {
      margin-top: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    img {
      width: 100%;
      height: 247px;
      gap: 5px;
    }

    img:not([height="398"]) {
      height: auto;
    }
  }

  @media screen and (min-width: 360px) and (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 247px;
    height: 386px;
    margin: 4px;
    margin-left: calc(50% - 190px);

    h3 {
      margin-top: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    img {
      width: 100%;
      height: 247px;
      gap: 5px;
    }
  }
}

.button-card {
  display: flex;
  width: 297px;

  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--White, #fff);
  opacity: 0.9;
  background: var(--White, #fff);
  margin-top: -78px;
  p {
    color: var(--color-text-button);
    text-align: center;
    font-size: 14px;
    font-family: Neogrotesk Ess;
    font-style: normal;
    font-weight: 700;
    line-height: 170%; /* 23.8px */
    text-transform: uppercase;
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    display: flex;
    width: 220px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--White, #fff);
    opacity: 0.9;
    background: var(--White, #fff);
    margin-top: -95px;
    margin-left: 10px;
  }
}

.container-content-data {
  margin-top: -35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;

  @media screen and (min-width: 360px) and (max-width: 767px) {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.stars-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 360px) and (max-width: 767px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &_start {
      max-width: 15px;
      max-height: 15px;
    }
  }
}
.container-review {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  p {
    padding-left: 5px;
    font-family: Filson Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    color: var(--color-paragraph);
  }
  @media screen and (min-width: 360px) and (max-width: 767px) {
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.container-prices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  p {
    color: var(--Body---Titles, #444950);
    font-family: Filson Pro;
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%; /* 27px */
  }

  &.price-check {
    color: var(--Gray---Paragraph, #939393);
    text-align: right;
    font-size: 15px;
    font-family: Filson Pro;
    font-style: normal;
    line-height: 180%; /* 27px */
    text-decoration: line-through;
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.container-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  position: absolute;
  top: 145px;
  left: 1068px;
  margin-right: 304px;

  @media (max-width: 1442px) {
    left: calc(77% - 50px);
  }

  @media (min-width: 1443px) {
    margin-left: calc(
      50% - 721px
    ); /* (50% - 721px) = 50% of the screen - 721px (half of the container) */
  }

  img {
    position: absolute;
    width: 70px;
    height: 24px;
    z-index: 0;
  }

  .left-Arrow {
    width: 139.504px;
    height: 139.504px;
    margin-top: -52px;
    position: absolute;
    left: -35px;
    top: -3px;
    z-index: 999;
    &:hover {
      cursor: pointer;
      transform: scaleX(-1);
      transition: transform 0.5s ease;
    }
  }

  .rigth-Arrow {
    width: 139.504px;
    height: 139.504px;
    margin-top: -52px;
    position: absolute;

    z-index: 999;
    left: 45px;
    top: -3px;

    &:hover {
      cursor: pointer;
      transform: scaleX(-1);
      transition: transform 0.5s ease;
    }
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    left: 1px;
    top: 176px;
    .left-Arrow {
      width: 139.504px;
      height: 139.504px;
      margin-top: -52px;
      position: absolute;
      left: -35px;
      top: -3px;
      z-index: 999;
    }

    .rigth-Arrow {
      width: 139.504px;
      height: 139.504px;
      margin-top: -52px;
      position: absolute;

      z-index: 999;
      left: 45px;
      top: -3px;
    }
  }
  @media screen and (min-width: 767px) and (max-width: 1200px) {
    left: 537px;
    top: 108px;

    .left-Arrow {
      width: 139.504px;
      height: 139.504px;
      margin-top: -52px;
      position: absolute;
      left: -35px;
      top: -3px;
      z-index: 999;
    }

    .rigth-Arrow {
      width: 139.504px;
      height: 139.504px;
      margin-top: -52px;
      position: absolute;

      z-index: 999;
      left: 45px;
      top: -3px;
    }
  }
}

.error-screen {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  p {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-text-button);
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 375;
    p {
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      color: var(--color-text-button);
    }
  }

  @media screen and (min-width: 767px) and (max-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 375;
    p {
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      color: var(--color-text-button);
    }
  }
}

.container-discount {
  display: flex;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--color-discount);
  position: absolute;
  width: 59px;
  height: 28px;
  margin-left: 215px;
  margin-top: -339px;
  p {
    font-family: "Arial";
    font-size: 14px;
    color: var(--Body---Titles, #444950);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.6%; /* 19.684px */
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 49px;
    height: 18px;
    margin-left: 157px;
    margin-top: -303px;
  }
}
