.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;

  @media screen and (min-width: 360px) and (max-width: 767px) {
    display: grid;

    grid-template-rows: 1fr;
    gap: 0px 0px;
  }

  @media screen and (min-width: 375px) and (max-width: 768px) {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 4fr;
    gap: 0px 0px;
    grid-template-areas: "Product";
    width: 100%;
  }
}

.container-product-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-family: Abhaya Libre;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 61.6px */
    color: var(--color-title);
    text-align: center;
  }
  img {
    width: 150px;
    height: 200px;
    object-fit: cover;

    @media (max-width: 375px) {
      width: 100px;
      height: 150px;
      object-fit: cover;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: transform 0.5s ease;
    }
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-family: Abhaya Libre;
      font-size: 44px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 61.6px */
      color: var(--color-title);
      text-align: center;
    }
  }
}
.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  h2 {
    font-family: Abhaya Libre;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    color: var(--color-paragraph);
    letter-spacing: -0.8px;
  }
  span {
    margin-left: 14px;
    font-family: Abhaya Libre;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    color: var(--);
  }

  @media screen and (min-width: 360px) and (max-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    h2 {
      font-family: Abhaya Libre;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 33.6px */
      color: var(--color-paragraph);
      letter-spacing: -0.8px;
    }
    span {
      margin-left: 14px;
      font-family: Abhaya Libre;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 33.6px */
      color: var(--);
    }
  }
}
